.header {
  width: 90%;
  margin: auto;
  height: 200px;
  background-color: rgba(36, 58, 61, 0.851);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLeft {
  width: 50%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.headerRight {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headername {
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.headertitle {
  font-size: 24px;
  font-weight: 500;
  color: rgb(47, 219, 210);
}

.headerskill {
  font-size: 20px;
  color: white;
}

.headerimage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid rgb(47, 219, 210);
}

.headerimage>img {
  width: 100%;
  border-radius: 50%;
}


.contact {
  width: 90%;
  margin: 0 5%;
  height: 150px;
  background-color: rgba(30, 29, 29, 0.948);
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.contactdata {
  color: white;
  font-size: 17px;
  margin-left: 10%;
}

.allcontent {
  width: 80%;
  margin: 0 5%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 244, 239);
}

.allcontentLeft {
  width: 60%;
}

.allcontentHeading {
  color: rgb(47, 219, 210);
  font-size: 32px;
  margin-top: 40px;
  font-weight: 600;
}

.allcontentRight {
  width: 35%;
}

hr {
  height: 5px;
  background-image: linear-gradient(90deg, rgb(47, 219, 210), rgb(247, 244, 239), rgb(247, 244, 239));
  border: none;
  text-align: start;
}

/* education  */
.education {
  width: 100%;
  margin-top: 10px;
}

.educationheading {
  font-size: 20px;
  font-weight: 500;
}

.sducationInstitute {
  font-size: 18px;
}

.eucationDate {
  color: rgb(47, 219, 210);
}

/* project */
.project {
  width: 100%;
  margin-top: 10px;
}

ul {
  margin: 0;
}

.skill {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.skilllist {
  background-color: rgb(47, 219, 210);
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

.interset {
  background-color: white;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(47, 219, 210);
  font-weight: 500;
}